<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meide.system.mapper.SysAreaMapper">

    <select id="selectAreaList" parameterType="com.meide.common.core.domain.param.SysAreaParam"
            resultType="com.meide.common.core.domain.entity.SysArea">
        <if test="level == 1">
            select prov_id code,
                prov_name name,
                '' parentCode,
                1 level
            from dim_prov
            union all
        </if>
        <if test="level == 1 or level == 2">
            select city_id code,
                city_name name,
                prov_id parentCode,
                2 level
            from dim_city
            <where>
                <if test="level == 1">
                    <if test="parentCode != null and parentCode != ''">
                        and prov_id = #{parentCode}
                    </if>
                </if>
                <if test="level == 2">
                    <if test="parentCode != null and parentCode != ''">
                        and city_id = #{parentCode}
                    </if>
                    union all
                </if>
            </where>
        </if>
        <if test="level == 2 or level == 3">
            select area_id code,
                area_name name,
                city_id parentCode,
                3 level
            from dim_area
            <where>
                <if test="level == 2">
                    <if test="parentCode != null and parentCode != ''">
                        and city_id = #{parentCode}
                    </if>
                </if>
                <if test="level == 3">
                    <if test="parentCode != null and parentCode != ''">
                        and area_id = #{parentCode}
                    </if>
                    union all
                </if>
            </where>
        </if>
        <if test="level == 3 or level == 4">
            select town_id code,
                town_name name,
                area_id parentCode,
                4 level
            from dim_town
            <where>
                <if test="level == 3">
                    <if test="parentCode != null and parentCode != ''">
                        and area_id = #{parentCode}
                    </if>
                </if>
                <if test="level == 4">
                    <if test="parentCode != null and parentCode != ''">
                        and town_id = #{parentCode}
                    </if>
                    union all
                </if>
            </where>
        </if>
        <if test="level == 4 or level == 5">
            select vill_id code,
                vill_name name,
                town_id parentCode,
                5 level
            from dim_vill
            <where>
                <if test="level == 4">
                    <if test="parentCode != null and parentCode != ''">
                        and town_id = #{parentCode}
                    </if>
                </if>
                <if test="level == 5">
                    <if test="parentCode != null and parentCode != ''">
                        and vill_id = #{parentCode}
                    </if>
                </if>
            </where>
        </if>
    </select>
    <select id="selectOneById" resultType="com.meide.common.core.domain.entity.SysArea">
        <if test="level == 1">
            select prov_id code,
            prov_name name,
            '' parentCode,
            1 level
            from dim_prov where prov_id = #{id}
        </if>
        <if test="level == 2">
            select city_id code,
            city_name name,
            prov_id parentCode,
            2 level
            from dim_city where city_id = #{id}
        </if>
        <if test="level == 3">
            select area_id code,
            area_name name,
            city_id parentCode,
            3 level
            from dim_area where area_id = #{id}
        </if>
        <if test="level == 4">
            select town_Id code,
            town_name name,
            area_id parentCode,
            4 level
            from dim_town where town_id = #{id}
        </if>
        <if test="level == 5">
            select vill_id code,
            vill_name name,
            town_id parentCode,
            5 level
            from dim_vill where vill_id = #{id}
        </if>
    </select>

</mapper>
