<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meide.mapper.TaosTestMapper">



  <select id="testList" resultType="com.meide.model.PO.T">
    select ts,speed from t;
  </select>

</mapper>